.wrapper{
    box-sizing: border-box;
    width: 250px;
    /*height: 200px;*/
    padding: 5px;
    /*border: 1px solid #fff;*/
    margin: 5px;
    text-align: center;
    box-shadow: 0 0 35px -10px rgb(84, 226, 230);
    border-radius: 20px;
}
.logo{
    width: 50px;

}