.wrapper{
    background-color: rgba(53, 177, 139, 0.76);
    padding: 2px;
    box-sizing: border-box;

}
.container{
    /*max-width: 1000px;*/
    width: 70%;
    /*height: 100%;*/
    box-sizing: border-box;
    height: 50px;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
